<nav class="sticky top-0 flex justify-between items-center p-3 bg-white z-50 shadow">
    <div>
        <span class="text-3xl font-bold text-[#FA2B2B] cursor-pointer" routerLink="">Dx Learning</span>
    </div>
    <div class="flex gap-10 items-center">
        <a 
        class="cursor-pointer hover:bg-[#fa2b2b] py-2 px-4 hover:text-white duration-250 rounded-sm" 
        routerLink="courses"
        >Courses</a>
        <a 
        class="cursor-pointer hover:bg-[#fa2b2b] py-2 px-4 hover:text-white duration-250 rounded-sm"
        >Categories</a>
        <a 
        class="cursor-pointer hover:bg-[#fa2b2b] py-2 px-4 hover:text-white duration-250 rounded-sm"
        >Contact us</a>
        <div class="flex gap-6">
            <button class="text-[#0075FF] font-semibold">Signup</button>
            <button class="bg-[#FA2B2B]  py-[10px] px-7 text-white rounded">Login</button>
        </div>
    </div>
</nav>
